/* Reseting default tag properties */

* {

  box-sizing: border-box;
  
}

body{
  background-color: #536872;
  padding: 0;
  margin: 0;
  font-family:"Helvetica Neue", Arial;
}

a{
  text-decoration: none;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a{
  color: inherit;
}

/* Nav bar styling */

.nav_bar .nav{
  display: inline;
  width: 340px;
  padding-right:20px;
  margin: 0;
  padding: 0 0 2px;
}

.nav_bar .nav li{
  list-style: none;
  display: inline;
}



.nav_abt_btn{
  float: right;
  padding: 0.2rem 1.2rem;
  position:relative;
  left: -1%;
  top: -7.5px;
  border: 2px solid #acb4c7;
  border-radius: 2rem;
  color: #acb4c7;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.5;
  transition: .5s ease-out;
}

.nav_abt_btn:hover{
  color: #66f;
  border: 2px solid #66f;
}

.nav_bar {
  background-color: #3c4250;
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 90%;
  z-index: 2;
}
.nav{
  color: inherit;
}

.nav_item{
  text-align: center;
  font-size: 18px;
  color: #acb4c7;
  transition: .5s ease-out;
  padding-right: 15px;
}

.nav_item:hover {
  color: #66f;
}

.nav_home{
  float: left;
  line-height: 20px;
  color: #acb4c7;
  margin-right: 28.5%;
  margin-left: 1%;
  font-size: 20px;
  transition: .5s ease-out;
	
}

.nav_home span{
  color: #66f;
}


.about_modal{
  background-color: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.about_modal.show{
  opacity: 1;
  pointer-events: auto;
}

.about_modal_content{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  padding: 25px 45px;
  width: 45%;
  max-width: 100%;
}

.modal_btn_close{
	margin: 0;
  padding: 0.75rem 1.5rem;
  top: -15px;
  margin-top: 10px;
  border: 0;
  border-radius: 2rem;
  background-color: #FF7F00;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2;
  transition: .5s ease-out;
}

.modal_btn_close:hover{
  background-color: #f44611;
}

.about_modal_content h1{
  margin: 0;
}

.about_modal_content p{
  opacity: 0.7;
  font-size: 16px;
}


/* typewritter team text */

.bg_gif{
  position: absolute; 
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url("img/gif_autista.gif");
  width: 100%;
  height: 380px;
  filter: blur(8px);
}

.team_text{
  margin-top: 4%;
  padding: 150px;
  margin-top: 6%;
  justify-content: center;
  background-color: rgba(0,0,0,0);
  display: flex;
  width: 100%;
  margin-bottom: 5%;
}

.team_text_content{
  text-align: center;
  width: 100%;
  max-width: 100%;
  display: inline;
  font-size: 70px;
  color: white;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

.team_text_text{
  display: inline;
}

#team_text_typew span{
  animation: blinker 1s linear infinite;  
}

@keyframes blinker{
  50%{
    opacity: 0;
  }
}
